# Numbers.

Final calculations, tabulations, and mathemagic for the Artificial Intelligence Project Report.

In [4]:
%run analysis.py

To plot, execute the following:
from matplotlib import pyplot as mplt
from pandas.tools.plotting import parallel_coordinates
from scipy import stats

import seaborn as sns
sns.set_palette('muted')
sns.set_style('ticks')
sns.set_context('notebook')

In [5]:
results = pd.read_csv(combined_f)

# Rename select attributes
results['algo'] = results['algo'].apply(lambda x: 'A*' if (x=='astar') else 'IDA')

# preview changes
results.head(2)

  boardID algo                   heur size  expanded  branching  time  cost
0   1.txt   A*  disjointPDBHorizontal  3x3         1        3.0  4893     1
1   2.txt   A*  disjointPDBHorizontal  3x3         1        3.0  4814     1

In [6]:
# Number of experiments
grouping = ['algo', 'size', 'heur', 'boardID']
num_exps = results[grouping].groupby(grouping[:-1]).count()

# Rename for publication
num_exps.columns = ['Number Trials']
num_exps.index.names = ['Algorithm', 'Heuristic', 'Size']

num_exps

                                           Number Trials
Algorithm Heuristic Size
A*        3x3       NMaxSwap                         426
                    disjointPDBHorizontal            426
                    disjointPDBMax                   426
                    disjointPDBVertical              426
                    linearConflict                   426
                    manhattan                        426
                    nonAdditiveFringe                426
                    nonAdditiveMax                   426
          4x4       NMaxSwap                         440
                    disjointPDBHorizontal             84
                    disjointPDBMax                    83
                    disjointPDBVertical               84
                    linearConflict                   441
                    manhattan                        441
                    nonAdditiveFringe                 84
                    nonAdditiveMax                    84
IDA       3x3       linearConflict                   426
          4x4       linearConflict                   441

In [8]:
num_exps.iloc[num_exps.index.get_level_values('Size') == '3x3']

Empty DataFrame
Columns: [Number Trials]
Index: []

In [7]:
# filter and write out the 
num_8 = num_exps.iloc[num_exps.index.get_level_values('Size') == '3x3']
num_15 = num_exps.iloc[num_exps.index.get_level_values('Size') == '4x4']

num_8.to_csv((canonical_dir + '8-puzzle-number.csv'))
num_15.to_csv((canonical_dir + '15-puzzle-number.csv'))

### Descriptive Statistics

Mean, min/max, range, std deviations, etc.

In [6]:
d_stats = results.groupby(grouping[:-1]).describe()

In [7]:
d_stats.style.highlight_min(axis='columns')

In [8]:
# assign groups
def group_cost(x):
    if (x < 8):
        return 'small'
    elif (x < 16):
        return 'medium'
    else:
        return 'large'
    
results['group'] = results['cost'].map(group_cost)

In [19]:
board_3 = results[(results['size'] == '3x3') & (results['algo'] == 'IDA')]

In [21]:
board_3.groupby(['size', 'algo', 'heur', 'group']).describe()

                                        branching        cost       expanded  \
size algo heur           group
3x3  IDA  linearConflict large  count  125.000000  125.000000     125.000000
                                mean     0.355760   18.000000    4062.296000
                                std      0.144196    1.419905   17548.314315
                                min      0.060000   16.000000      31.000000
                                25%      0.270000   17.000000     254.000000
                                50%      0.350000   18.000000     954.000000
                                75%      0.460000   19.000000    2481.000000
                                max      0.760000   20.000000  193525.000000
                         medium count  200.000000  200.000000     200.000000
                                mean     0.163900   11.500000     181.185000
                                std      0.168233    2.297038     528.727306
                                min      0.000000    8.000000       8.000000
                                25%      0.040000    9.750000      12.000000
                                50%      0.090000   11.500000      22.000000
                                75%      0.260000   13.250000      66.250000
                                max      0.650000   15.000000    4709.000000
                         small  count  101.000000  101.000000     101.000000
                                mean     0.025248    5.178218       5.980198
                                std      0.046381    1.621086       2.835420
                                min      0.000000    0.000000       0.000000
                                25%      0.000000    4.000000       4.000000
                                50%      0.000000    5.000000       6.000000
                                75%      0.060000    6.000000       7.000000
                                max      0.250000    7.000000      19.000000

                                              time
size algo heur           group
3x3  IDA  linearConflict large  count   125.000000
                                mean    144.120000
                                std     239.878114
                                min      20.000000
                                25%      55.000000
                                50%     102.000000
                                75%     155.000000
                                max    2586.000000
                         medium count   200.000000
                                mean     31.015000
                                std      31.500256
                                min      11.000000
                                25%      14.000000
                                50%      18.000000
                                75%      30.250000
                                max     211.000000
                         small  count   101.000000
                                mean     11.207921
                                std       2.099128
                                min       4.000000
                                25%      10.000000
                                50%      11.000000
                                75%      12.000000
                                max      18.000000